#page-profile .page-header ~ .container {
  display: flex;
}

aside.card {
  background: var(--color-card-background);
  color: var(--color-card-title);

  border: 1px solid var(--color-border);
  border-radius: 0.313rem;

  width: 22rem;

  margin-right: 8rem;

  text-align: center;

  padding: 3.875rem 4.625rem;
}

aside img {
  border-radius: 50%;

  border: 0.25rem var(--color-secondary) solid;

  width: 11.25rem;
  height: 11.25rem;

  margin-bottom: 1.5rem;
}

aside h2 {
  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.875rem;

  margin-bottom: 3.875rem;
}

aside p {
  margin-bottom: 1.75rem;

  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

main {
  flex: 1;
}

.input-check-dark-mode {
  display: none;
}

.container-dark-mode {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 40px;
  width: 75px;
  padding: 6px;
  border-radius: 20px;
  /* display: block; */
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.3),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1);
}

label .check-dark-mode {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: var(--color-secondary);
  border: 1px var(--color-border) solid;
  border-radius: 100%;
}

label span {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: var(--color-secondary);
  border: 1px var(--color-border) solid;
  border-radius: 100%;
}
